<a href="https://colab.research.google.com/github/FelipeFlorezO/Analytics/blob/main/Text_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!gdown 1UOF-7R5MHXTQcCPp7rPMZTFZZSCmKzko

Downloading...
From: https://drive.google.com/uc?id=1UOF-7R5MHXTQcCPp7rPMZTFZZSCmKzko
To: /content/registered-names-1922-2015.csv
100% 221M/221M [00:03<00:00, 56.5MB/s]

In [2]:
import csv

In [3]:
with open("/content/registered-names-1922-2015.csv") as csvfile:
    reader = csv.DictReader(csvfile)

    count = 10
    for idx, row in enumerate(reader):
        print(row)
        if idx == count:
            break

{'name': 'Maria', 'count': '314', 'year': '1922'}
{'name': 'Rosa', 'count': '203', 'year': '1922'}
{'name': 'Jose', 'count': '163', 'year': '1922'}
{'name': 'Maria Luisa', 'count': '127', 'year': '1922'}
{'name': 'Carmen', 'count': '117', 'year': '1922'}
{'name': 'Ana', 'count': '113', 'year': '1922'}
{'name': 'Maria Elena', 'count': '112', 'year': '1922'}
{'name': 'Juana', 'count': '111', 'year': '1922'}
{'name': 'Maria Esther', 'count': '109', 'year': '1922'}
{'name': 'Antonio', 'count': '103', 'year': '1922'}
{'name': 'Elena', 'count': '102', 'year': '1922'}

In [4]:
data = []
with open("/content/registered-names-1922-2015.csv") as csvfile:
    reader = csv.DictReader(csvfile)
    for idx, row in enumerate(reader):
        data.append(row)

In [11]:
print('How many people were registered each year?')
people_year = {}

for row in data:
    year = row['year']
    count = row['count']

    if year is not None and count is not None:
        if year in people_year:
            people_year[year] += int(count)
        else:
            people_year[year] = int(count)

print(people_year)

How many people were registered each year?
{'1922': 23667, '1923': 30289, '1924': 39075, '1925': 48328, '1926': 58350, '1927': 71182, '1928': 85659, '1929': 98792, '1930': 115965, '1931': 126450, '1932': 142855, '1933': 150008, '1934': 162662, '1935': 183562, '1936': 195782, '1937': 211501, '1938': 231419, '1939': 254843, '1940': 283184, '1941': 295764, '1942': 295416, '1943': 422043, '1944': 744428, '1945': 809538, '1946': 832564, '1947': 877154, '1948': 858046, '1949': 476270, '1950': 505873, '1951': 499066, '1952': 503985, '1953': 517644, '1954': 527342, '1955': 540534, '1956': 555714, '1957': 559624, '1958': 563382, '1959': 571394, '1960': 583053, '1961': 596696, '1962': 622130, '1963': 620341, '1964': 626002, '1965': 632594, '1966': 627229, '1967': 639428, '1968': 651192, '1969': 682153, '1970': 716628, '1971': 758152, '1972': 774379, '1973': 789091, '1974': 829883, '1975': 886937, '1976': 895615, '1977': 955405, '1978': 979938, '1979': 1019994, '1980': 961606, '1981': 1020591, '1982': 1036620, '1983': 993079, '1984': 1010882, '1985': 1056682, '1986': 1101961, '1987': 1097908, '1988': 1118740, '1989': 1116945, '1990': 1167924, '1991': 1245813, '1992': 1257479, '1993': 1351210, '1994': 1327782, '1995': 1228279, '1996': 1132763, '1997': 938137, '1998': 951784, '1999': 867112, '2000': 843525, '2001': 791107, '2002': 747118, '2003': 806142, '2004': 831336, '2005': 784934, '2006': 750246, '2007': 707364, '2008': 696160, '2009': 583182, '2010': 546042, '2011': 450370, '2012': 950740, '2013': 900028, '2014': 881267, '2015': 793166}

In [9]:
print('What is the shorter name in the dataset?')
short_name = {}
for row in data:
    name = row['name'].replace(' ','')
    if len(name) in short_name.keys() and name!= '' and name!= ' ':
        short_name[len(name)].append(name)
    elif name!='' and name!= ' ':
        short_name[len(name)] = [name]
short_min_key = min([int(k) for k in short_name.keys()])

What is the shorter name in the dataset?

In [10]:
short_name[short_min_key]

['P', 'E', 'E', ',']

In [12]:
print('What is the largest name in the dataset?')
largest_name = ""

for row in data:
    name = row.get('name', '')

    if len(name) > len(largest_name):
        largest_name = name

print('The largest name is:', largest_name)

What is the largest name in the dataset?
The largest name is: Juan Atanacio

In [13]:
print('Is there a palindrome name in the dataset?')

def is_palindrome(s):
    return s.lower() == s.lower()[::-1]

palindrome_name = None

for row in data:
    name = row.get('name', '')

    if is_palindrome(name):
        palindrome_name = name
        break

if palindrome_name:
    print(f'Yes, "{palindrome_name}" is a palindrome name.')
else:
    print('No palindrome names found in the dataset.')

Is there a palindrome name in the dataset?
Yes, "Ana" is a palindrome name.

In [17]:
print('What is the name with the largest number of people registered?')
largest_name = ""
largest_count = 0

for row in data:
    name = row.get('name', '')
    count_str = row.get('count')

    if count_str is not None:
        try:
            count = int(count_str)
        except ValueError:
            count = 0

        if count > largest_count:
            largest_count = count
            largest_name = name

print(f'The name with the largest number of people registered is "{largest_name}" with {largest_count} registrations.')

What is the name with the largest number of people registered?
The name with the largest number of people registered is "Leonel Hernan" with 7939 registrations.